@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes imgAnim {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px);
	}
}

.img {
	transition: all 0.3s ease-in-out;
	animation: imgAnim infinite ease-in-out 6s;
}
